@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.wrapper span {
	position: fixed;
	bottom: 15px;
	animation: animate 8s linear infinite;
	z-index: -1;
}

.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}
.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}

@keyframes animate{
    0% {
      transform: translateY(0);
        opacity: 1
    }
    70%{
        opacity: .8;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
        opacity: 0
    }
}

/* .orchid{
  height: 356px;
  width: 500px;
} */

#row {
  display: flex;
}

#column {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  flex: 50%;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}

#plant-name {
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: 1px 1px 1px rgb(76, 141, 64), 0 0 1em rgb(70, 149, 73), 0 0 0.2em rgb(53, 117, 30);
    text-align: center;
    padding-top: 35px;
  }

#plant-img {
    flex-basis: 70%;
    order: 2;
}

#resize {
    width: 400px;
    height: auto;
}


#general-info {
  margin-left: 10vh;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;   color: rgb(8, 51, 1);
}

.right {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
  }

.bolded {
    font-weight: bold;
}


.add-favorite {
  margin-top: 4vh;
  align-items: center;
  background-image: linear-gradient(144deg,#087226c9, #4dc027 50%,#11e431);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(80, 246, 157, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Oswald', sans-serif;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.add-favorite:active,
.add-favorite:hover {
  outline: 0;
}

.add-favorite span {
  background-color: rgb(5, 45, 20);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.add-favorite:hover span {
  background: none;
}

@media (min-width: 768px) {
  .add-favorite {
    font-size: 24px;
    min-width: 196px;
  }
}
