#footer {
  position: relative;
  bottom: 0;
  width: 99.5vw;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  background-color: #436255;
  text-align: center;
}

.footer-text {
  color: black;
  text-decoration: none;
  text-align: center;
}

#top-text {
  border-top: #717171;
}
