@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* set desired opacity value */
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body2 {
  padding: 1rem;
  color: aliceblue;
  text-shadow: 1px 1px 0 black;
  z-index: 1;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  font-family: "Poiret One", cursive;
  text-shadow: black 1pt 1pt 1pt;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.image-box {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  left: 120px;
  top: 15px;
}

.image-thumbnail {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  object-fit: cover;
  border-style: solid;
  border-width: 0px;
  border-radius: 1%;
}
