.flower {
    height: 324px;
    width: 624px;
}

.link{
    color:aliceblue;
    text-shadow: 1px 1px 0 black;
}

.carousel-item img{
	border-radius: 1%;
    border: 10px solid rgb(76, 141, 64);
}

.carousel-control-prev {
    margin-left: 150px;
}

.carousel-control-next {
    margin-right: 150px;
}

.favorites{
    margin-top: 25px;
}

