@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#row {
  display: flex;
}

#column {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  flex: 50%;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

#plant-name {
  color: #000000;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-shadow: 1px 1px 1px rgb(76, 141, 64), 0 0 1em rgb(70, 149, 73), 0 0 0.2em rgb(53, 117, 30);
  text-align: center;
  padding-top: 35px;
}

#plant-img {
  flex-basis: 70%;
  order: 2;
}

#resize {
  border-radius: 15%;
  width: 200px;
  height: auto;
}


#general-info {
  margin-left: 5vh;
  font-family: 'Inter', sans-serif;
  color: rgb(8, 35, 5);
  background-color: #ffffff00;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.193);
  padding: 18px;
  border-radius: 10px;
}

.right {
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
}

.bolded {
  font-weight: bold;
  text-shadow: rgb(201, 204, 206) 1px 1px;

}


.add-favorite {
  margin-top: 2vh;
  align-items: center;
  background-image: linear-gradient(144deg, #386954, #386954 50%, #386954);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  line-height: 1em;
  width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.add-favorite:active,
.add-favorite:hover {
  outline: 0;
}

.add-favorite span {
  background-color: #386954;
  padding: 16px 2px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.add-favorite:hover span {
  background: none;
}

@media (min-width: 768px) {
  .add-favorite {
    font-size: 15px;
    min-width: 196px;
  }
}

.remove-favorite {
  margin-top: 2vh;
  align-items: center;
  background-image: linear-gradient(144deg, #a41414, #a41414 50%, #a41414);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  line-height: 1em;
  width: 100%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.remove-favorite:active,
.remove-favorite:hover {
  outline: 0;
}

.remove-favorite span {
  background-color: #a41414;
  padding: 16px 2px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.remove-favorite:hover span {
  background: none;
}

@media (min-width: 768px) {
  .remove-favorite {
    font-size: 15px;
    min-width: 196px;
  }
}

.h3 {
  text-shadow: rgb(201, 204, 206) 1px 1px;
  font-size: 25px;
}
